.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  background: hsl(210, 36%, 96%);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.container {
  text-align: center;
  margin-top: 5rem;
  background: hsl(210, 36%, 96%);
}
.button {
  display: inline-block;
  /* display: flex; */

  background: hsl(205, 78%, 60%);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  /* margin: 1rem 0.5rem; */
  margin-left: 1.5rem;
  /* margin-right: 0.5rem; */
  cursor: pointer;
  transition: all 0.3s linear;
}
.button:hover {
  background: hsl(205, 86%, 17%);
  color: hsl(205, 78%, 60%);
}
.item {
  background: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 2rem auto;
  align-items: center;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.itembutton,
.itema {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 0.1rem; */

  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  letter-spacing: 0.1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.itemh4 {
  margin-bottom: 0;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}
.itemp {
  margin-bottom: 0;
}
.modal {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

.modal_p {
  margin-bottom: 0;
  color: hsl(360, 67%, 44%);
}
.form {
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}
.formInput {
  background: hsl(210, 36%, 96%);
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.formControl {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.formButton {
  display: inline-block;
  background: #222;
  color: #fff;
  border-color: transparent;
  padding: 0.25rem 0.75rem;

  /* margin-top: 0rem; */
  letter-spacing: 0.1rem;
  /* padding: 0.15rem 0.25rem; */
  text-transform: capitalize;
  border-radius: 0.25rem;
  cursor: pointer;
}
